* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {

    background: url("/imgs/lightMode.jpeg") no-repeat center center/cover;
    color: #333;
    font-family: 'Open Sans', sans-serif;
    height: 665px;
    line-height: 1.6;
    
}

header {
    position: relative;
    align-items: center;
}

img.roller {
    height: 50px;
    transform: rotate(22deg);
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
}

i.fa-search {
    display: block;
    position: fixed;
    top: 16px;
    right: 15px;
    z-index: 99;
}

h1,
h2,
div#logo {
    font-weight: 500;
    line-height: 1.2;
}

#search {
    display: block;
    background: #789;
    opacity: 0.5;
    position: fixed;
    top: 10px;
    right: 10px;
    border-radius: 5px;
    box-shadow: 4px 4px 10px black, 2px 2px 10px brown;
}

input {
    padding: 5px 10px;
    opacity: 0;
}

p {
    margin: 10px 0;
}

ul {
    list-style: none;
}

li {
    border: 1px solid #333;
    display: inline-block;
    flex-direction: row;
}

a {
    color: #333;
    text-decoration: none;
}

/* main */

#rooms {
   
    background: rgb(119, 136, 153, 0.3);
    border-radius: 10px 0 0 10px;
    box-shadow: 4px 4px 10px black, 1px 1px 10px rgb(96, 40, 17);
    display: block; 
    height: 300px;
    margin: 120px 0 auto 15px;
    max-width: 100%;
    overflow: auto;
    padding: 5px;
    white-space: nowrap;
}

    #rooms li {
        display: inline-block; 
        box-shadow: 4px 4px 10px rgb(54, 54, 54), 2px 2px 8px rgb(108, 89, 89);
        color: #222;
        height: 280px;
        margin: 5px;
        padding: 5px;
        width: 280px; 
        z-index: 99;
    }

    #rooms li.living {
        background: url("/imgs/nathan-oakley-4pD1nPrt36Y-unsplash.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        object-fit: none;

    }

/* Navbar, FOOTER */
#footer {
    opacity: 0.5;
    width: 90%;
    height: 50px;
    position: fixed;
    bottom: 10px;
    border-radius: 5px;
    transition: 0.5s;
    box-shadow: 4px 4px 10px black, 2px 2px 10px brown;
    background-color: #789;
    color: #fff;
    padding: 10 30px;
    margin: 0 20px;
}

.navbar li {
    border: 1px solid #333;
    display: flex;
    flex-direction: row;
    border: none;
}

.navbar {
    align-items: center;
    background: transparent;
    bottom: 10px;
    display: flex;
    flex-direction: row;
    height: 50px;
    justify-content: space-evenly;
    width: 90%;
    position: fixed;
    padding: 10 30px;
    margin: 0 20px;
}

/* .navbar.top {
    background: transparent;
} */

/* .navbar a {
    color: #fff;
    padding: 10px 20px;
    margin: 0 5px;
} */

.navbar a:hover {
    border-bottom: #28a745 2px solid;
}

/* .navbar ul {
    display: flex;
}

.navbar .logo {
    font-weight: 400;
} */